.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.flex_top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
